Source: node-regjsparser
Maintainer: Debian Javascript Maintainers <pkg-javascript-devel@lists.alioth.debian.org>
Uploaders: Julien Puydt <jpuydt@debian.org>
Section: javascript
Testsuite: autopkgtest-pkg-nodejs
Priority: optional
Build-Depends: debhelper-compat (= 13),
               dh-sequence-nodejs,
               node-regenerate,
               node-unicode-15.0.0,
Standards-Version: 4.6.1
Vcs-Browser: https://salsa.debian.org/js-team/node-regjsparser
Vcs-Git: https://salsa.debian.org/js-team/node-regjsparser.git
Homepage: https://github.com/jviereck/regjsparser
Rules-Requires-Root: no

Package: node-regjsparser
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends},
         nodejs:any,
         node-jsesc
Description: Parser for JavaScript's RegExp for Node.js
 This module provides a parser for the JavaScript's RegExp, itself written
 in Javascript.
 .
 Node.js is an event-based server-side JavaScript engine.
